<!-- <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
	<p class="text-muted mb-1 mb-md-0">Copyright © 2023 <a href="https://www.speedsmm.com" target="_blank">SpeedSmm</a>.</p>
	<p class="text-muted">Can With <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
</footer> -->
</div>
</div>

<!-- core:js -->
<script src="/admin_assets/vendors/core/core.js"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<script src="/admin_assets/vendors/flatpickr/flatpickr.min.js"></script>
<script src="/admin_assets/vendors/apexcharts/apexcharts.min.js"></script>
<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="/admin_assets/vendors/feather-icons/feather.min.js"></script>
<script src="/admin_assets/js/template.js"></script>
<!-- endinject -->
<script src="/admin_assets/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/admin_assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
<script src="/admin_assets/panel/users.js"></script>
<!-- Custom js for this page -->
<script src="/admin_assets/js/dashboard-dark.js"></script>
<!-- End custom js for this page -->
<script src="/admin_assets/panel/others.js"></script>
</body>

</html>