<style>
  .menu-icon {
    width: 20px;
    height: 20px;
  }

  .nav-item {
    padding: 10px 0px;
    font-size: 18px;
    
  }
</style>

<nav class="sidebar">
      <div class="sidebar-header">
        <a href="/admin" class="sidebar-brand">
          <span style="color: rgb(236, 67, 67); font-weight: bold;">Admin</span> Panel
        </a>
        <div class="sidebar-toggler not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav">

         <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="menu-icon fa-solid fa-users"></i>
              <span class="link-title">
                Müşteriler
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/orders" class="nav-link">
              <i class="menu-icon fa-solid fa-shopping-cart"></i>
              <span class="link-title">
                Siparişler
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/services" class="nav-link">
              <i class="menu-icon fa-solid fa-box"></i>
              <span class="link-title">
                Servisler
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/statistics" class="nav-link">
              <i class="menu-icon fa-solid fa-list"></i>
              <span class="link-title">
                İstatistikler
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/payments" class="nav-link">
              <i class="menu-icon fa-solid fa-money-bill"></i>
              <span class="link-title">
                Ödemeler
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/support" class="nav-link">
              <i class="menu-icon fa-solid fa-question"></i>
              <span class="link-title">
                Destek
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/child_panels" class="nav-link">
              <i class="menu-icon fa-solid fa-network-wired"></i>
              <span class="link-title">
                Child Panels
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/view" class="nav-link">
              <i class="menu-icon fa-sharp fa-solid fa-mountain"></i>
              <span class="link-title">
                Görünüm
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/logs" class="nav-link">
              <i class="menu-icon fa-solid fa-file-lines"></i>
              <span class="link-title">
                Loglar
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/settings" class="nav-link">
              <i class="menu-icon fa-solid fa-cog"></i>
              <span class="link-title">
                Ayarlar
              </span>
            </a>
          </li>

        </ul>
      </div>
    </nav>